/* ---------------------- */

/* TYPOGRAPHY */

/* ---------------------- */

html {
	font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif; /* Toast grid framework base */
}

/* ---------------------- */

/* Font size #2, based on http://snook.ca/archives/html_and_css/font-size-with-rem */

html {font-size: 62.5%;} 

body { font-size: 14px; font-size: 1.4rem; } /* =14px */
h1   { font-size: 24px; font-size: 2.4rem; } /* =24px */

/* We'd like the font to get a bit smaller on smaller screens */

@media screen and (max-width: 650px) {
	html {
		font-size: 100%;
	}
}

/* ---------------------- */

/* 
	To be revised during next project. Based on Toast's grid css.
	Works off the assumption of a 1.5 line height @ 20px. Change as necessary.
*/

p, .p, ul, ol, hr, table, form, pre,
h1, .alpha, h2, .beta {
	margin-bottom: 30px;
	margin-bottom: 1.5rem;
}

h1, .alpha {
	font-size: 60px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1;
}

h2, .beta {
	font-size: 30px;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2;
}

h3, .gamma {
	font-size: 20px;
	font-size: 1rem;
	font-weight: 700;
}

hr {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-top: -1px;
}

/* ---------------------- */

/* @font-face embeding, http://www.newnet-soft.com/blog/csstypography */

/* You can add multiple weights & styles for every font & use the same font name. Notice that every font-face addition got the same name, but has different attributes for font-weight & font-style. This way you can go ahead & use your font the same as you would with any native font. */

@font-face {
     font-family: 'Liberation Sans';
     src: url('fonts/LiberationSans-Regular.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'Liberation Sans';
     src: url('fonts/LiberationSans-Italic.ttf') format('truetype');
     font-weight: normal;
     font-style: italic;
}
@font-face {
     font-family: 'Liberation Sans';
     src: url('fonts/LiberationSans-Bold.ttf') format('truetype');
     font-weight: bold;
     font-style: normal;
}
@font-face {
     font-family: 'Liberation Sans';
     src: url('fonts/LiberationSans-BoldItalic.ttf') format('truetype');
     font-weight: bold;
     font-style: italic;
}

/* ---------------------- */

/* Hyphenation, http://www.newnet-soft.com/blog/csstypography */ 

.hyphenate {
 -webkit-hyphens: auto;
    -moz-hyphens: auto;
         hyphens: auto;

 -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word; /* Non standard for webkit */

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
                    
   -webkit-hyphenate-before: 2; /* Minimum number or characters before or after the hyphenation */
    -webkit-hyphenate-after: 3;
            hyphenate-lines: 3; /* How many lines can be hyphenated in a row */
 }

/* ---------------------- */

/* Ligatures, http://www.newnet-soft.com/blog/csstypography */ 

.ligatures-enabled {
    -moz-font-feature-settings: "liga=1, dlig=1";
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}


/* ---------------------- */

/* Fallback fonts may not share the same aspect ratio as the desired font family and will thus appear less readable. The font-size-adjust property is a way to preserve the readability of text when font fallback occurs. It does this by adjusting the font-size so that the x-height is the same regardless of the font used.
http://www.newnet-soft.com/blog/csstypography */

.adjust {
    font-size-adjust: auto; 
}


/*

Sources:
http://www.newnet-soft.com/blog/csstypography

*/ 