/* SOME NICE DEFAULTS */

* {
	/* 
	// Leave this part to normalize.css or reset.css
	margin: 0; 
	padding: 0; 
	*/ 
	/* 
	// Try not to use it unless it makes sense
	position: relative; 
	*/

	/* That's needed for the grid to work */ 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.container {
	max-width: 1000px; /* That's entirely optional, set as 960 if you'd like */
	margin: 0 auto;
	padding: 0 30px; /* Pixel fallback for rem values beneath */
	padding: 0 1.5rem; /* Root EM, all rules using REM unit depend on body font size */
}

.grid {
	margin-left: -3%; /* Moves the grid left */
	max-width: 105%; /* Stretches the grid back to 100% of container. Not sure why 105% not 103% */
}

/* Grid units */

.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-left: 3%;
	margin-right: -.25em;

	/* Clearfix */
	overflow: hidden; /* That's not always a good idea */
	*overflow: visible;

	background: rgba(0,0,0,0.1); /* Needless to say, this should probably go away */
}

.u1of1 { width: 97%; }

.u1of2 { width: 47%; }

.u1of3 { width: 30.36%; }
.u2of3 { width: 63.666666666%; }

.u1of4 { width: 22.05%; }
.u3of4 { width: 72%; }

.u1of5 { width: 17.07%; }
.u2of5 { width: 37%; }
.u3of5 { width: 57%; }
.u4of5 { width: 77%; }

@media screen and (max-width: 650px) {

	This supports one 

	.grid {
		margin-left: 0;
		max-width: none;
	}

	.unit {
		width: auto;
		margin-left: 0;
		display: block;
	}
}