/*
	Clear fix, via http://css-tricks.com/snippets/css/clear-fix/
	If not supporting IE6/7, delete respective lines
	To use selectivly (without .clearfix class) see http://nicolasgallagher.com/micro-clearfix-hack/
*/

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */